RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTP_HOST} !^atmosphericdesign.nl$
RewriteRule (.*) https://atmosphericdesign.nl/$1 [L,R=301]
