body {
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/* Document setup */

aside {
  padding-left: 60px;
  padding-top: 60px;
  width: 300px;
  float: left;
  border-right: black solid 1px;
  box-sizing: border-box;
  height: 100vh;
  position: fixed;
  z-index: 999;
  position: relative;
}

aside h1 {
  visibility: hidden;
  height: 0;
}

aside ul {
  list-style-type: none;
  padding-left: 0;
}

aside ul li {
  padding-top: 20px;
  font-size: 22px;
}

aside a {
  text-decoration: none;
  color: black;
}

aside a:hover {
  text-decoration: underline;
}

aside .shop-new {
  width: 370px;
  height: auto;
  background: black;
  color: white;
  padding: 15px;
  position: absolute;
  bottom: 60px;
}

aside .shop-new a {
  color: white;
}

aside .shop-new a img {
  max-width: 100%;
  margin-top: 0px;
}

aside .shop-new a.close-button {
  float: right;
}

aside .shop-new h2 {
  font-size: 22px;
  line-height: 22px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 100;
}

aside .shop-new h3 {
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: 100;
}

aside .shop-new a.price {
  font-size: 22px;
}

aside .shop-new a.details {
  float: right;
  font-weight: 100;
  font-size: 14px;
  margin-top: 10px;
}

.container {
  width: calc(100vw - 350px);
  float: right;
  box-sizing: border-box;
  z-index: 0;
  margin-right: 25px;
  margin-top: 25px;
}

.home {
  background: url(/images/line-drawing-backdrop-min.jpg) no-repeat fixed center;
  background-size: cover;
  height: calc(100vh - 25px);
  position: relative;
}

.project-categories {
  width: 80%;
  left: 15%;
  position: absolute;
  bottom: 60px;
  display: flex;
}

.project-categories .project {
  border: black solid 1px;
  width: 24%;
  height: 550px;
  padding: 15px;
  background: white;
  position: relative;
  margin-right: 3%;
}

.project-categories .project img {
  object-fit: cover;
  width: 100%;
  height: 85%;
  border: solid black 1px;
}

.project-categories .project .arrow {
  float: right;
  width: 22px;
  height: auto;
  margin-bottom: 15px;
  visibility: hidden;
}

.project-categories .project .arrow img {
  border: none;
}

.project-categories .project h2 {
  margin-bottom: 0;
  margin-top: 12px;
  font-weight: 500;
}

.project-categories .project p {
  margin-bottom: 0;
  margin-top: 12px;
}

nav {
  visibility: hidden;
  height: 0px;
}

@media only screen and (max-width: 768px) {
  /* Document setup */

  .container {
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
  }

  /* Navigation Bar */

  #menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 9;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #333;

    transition: color 0.3s ease;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0;
    z-index: 2;

    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #333;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 110%;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    padding-bottom: 75px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  nav {
    visibility: visible;
    height: 27px;
  }
}
