.category {
  height: 100vh;
  position: relative;
}

.category-header {
  background: white;
  border: black solid 1px;
  box-sizing: border-box;
  width: 45%;
  padding: 15px;
  margin-bottom: 25px;
}

.category-header h1 {
  padding: 0;
  margin: 0;
  padding-bottom: 6px;
}

.category-header h2 {
  padding: 0;
  margin: 0;
  padding-bottom: 6px;
}

.category-header p {
  padding: 0;
  margin: 0;
}

.category-header .see-more {
  padding-top: 12px;
}

.see-more:hover {
  text-decoration: underline;
}

.see-more:hover::after {
  content: url(/assets/images/arrow.svg);
  margin-left: 15px;
}

.projects-flexbox {
  box-sizing: border-box;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 120px;
  padding-top: 25vw;
}

.projects-flexbox::before {
  content: "";
  width: 45%;
}

.projects-flexbox::after {
  content: "";
  width: 45%;
}

.project {
  border: black solid 1px;
  box-sizing: border-box;
  width: 45%;
  padding: 15px;
  background: white;
  position: relative;
  margin-bottom: 25px;
}

.card-image img {
  object-fit: cover;
  width: 100%;
  height: calc(100% - 60px);
  border: solid black 1px;
  height: 25vw;
}

.card-text {
  height: auto;
}

.card-text h2 {
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 6px;
  font-weight: 500;
}

@media only screen and (max-width: 1360px) {
  .projects-flexbox {
    padding-left: 30px;
  }
  .project,
  .category-header {
    margin-bottom: 15px;
    padding: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .project,
  .category-header {
    margin-bottom: 30px;
  }

  .category {
    width: 100%;
  }

  .projects-flexbox {
    display: block;
    margin: 0;
    padding: 10px;
  }

  .category-header {
    width: 100%;
    margin-top: 40vh;
  }

  .project {
    width: 100%;
  }

  .projects-flexbox div:last-of-type {
    margin-bottom: 10px;
  }
  .card-text h2 {
    font-size: 24px;
    margin-top: 12px;
  }
  .card-image img {
    height: 50vh;
  }
}
