.home {
  background: url(/assets/images/line-drawing-backdrop-min.jpg) no-repeat fixed
    center;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}

.project-categories {
  width: 85%;
  left: 10%;
  position: absolute;
  bottom: 60px;
  display: flex;
}

.project-categories .project {
  border: black solid 1px;
  width: 24%;
  padding: 15px;
  background: white;
  position: relative;
  margin-right: 3%;
}

.card-image img {
  object-fit: cover;
  height: 28vw;
  width: 100%;
  border: solid black 1px;
}

.card-text {
  height: auto;
}

.card-text h2 {
  width: calc(100% - 22px);
}

.project-categories .project .arrow {
  position: absolute;
  bottom: 16px;
  right: 15px;
  width: 22px;
  height: auto;
  visibility: hidden;
}

.project-categories .project .arrow img {
  border: none;
}

.project-categories .project h2 {
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 6px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project-categories .project p {
  margin-bottom: 0;
  margin-top: 6px;
}

@media only screen and (max-width: 1360px) {
  .project-categories .project .arrow {
    bottom: 8px;
  }
  .project-categories {
    width: 91%;
    left: 5%;
    bottom: 30px;
  }
  .project-categories .project {
    padding: 8px;
    margin-right: 2%;
    min-width: 120px;
  }
  .project-categories .project h2 {
    font-size: 20px;
    margin-top: 2px;
  }
  .project-categories .project p {
    font-size: 14px;
    margin-top: 6px;
  }
}

@media only screen and (max-width: 768px) {
  .home {
    background: none;
  }

  .project-categories .project .arrow {
    display: none;
  }
  .project-categories {
    width: 100%;
    left: -10px;
    display: block;
    top: 150px;
  }
  .project-categories .project {
    width: 90%;
    padding: 8px;
    margin-left: 5%;
    margin-right: 0;
    margin-bottom: 60px;
  }

  .card-image img {
    height: 50vh;
  }

  .project-categories div:last-of-type {
    margin-bottom: 10px;
  }
  .project-categories .project h2 {
    font-size: 24px;
    margin-top: 12px;
  }
}
